.cp_tree-table .cp_tree-table_cell > .without-children > span {
	padding-left: 15px;
}
.cp_tree-table{
	height: 90%;
	// border: 1px solid;
	padding: 10px;
	padding-bottom: 20px;
}
.cp_tree-table_header{
	display: none !important;
}